<!-- footer start -->

<footer class="">
    <div class="bottom-closer">
      <div class="bottom-closer content"> 
        <div class="content-blocks cf">
          {% if page.date %}
            <div class="isLeft">
              <h5 class="index-headline"><span>Related posts</span></h5>
              {% for relatedpost in site.related_posts limit: 3%}
                <p class="ondark"><a class="ondark" href="{{ relatedpost.url }}">{{ relatedpost.title }}</a></p>
              {% endfor %}
            </div>
         {% else %}
            <div class="isLeft" align"center">
              <h5 class="index-headline"><span><a href="/about">About Thinking Fixed</a></span></h5>
              <p class="ondark"><a href=/about"">{{ site.description }}</a></p>
            </div>
          {% endif %}
          {% if page.date %}
            <div class="isRight" align="center">
              <h5 class="index-headline"><span><a href="/about">About Thinking Fixed</a></span></h5>
              <p class="ondark"><a href="/about">{{ site.description }}</a></p>
            </div>
          {% else %}
            <div class="isRight">
              <h5 class="index-headline"><span>Links</span></h5>
              <p class="ondark">
                <a href="/archive/">Archive</a><br/>
                <a href="/about/">About ThinkingFixed</a>
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
</footer>

<!-- footer end -->
