<!-- header start -->

<a href="/" class="logo-readium-1"><span class="logo" style="background-image: url({{ site.logo }})"></span></a>
<div class="facebook-float" id="facebook-likes"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.thinkingfixed.com&amp;width=50&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:20px;" allowTransparency="true"></iframe></div>

<!-- header end -->
