        <section class="share">
          {% for social in site.social %}
            {% if social.share_url != null %}
              <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
              <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
              </a>
            {% endif %}
          {% endfor %}
		  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.thinkingfixed.com&amp;width=50&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:20px;" allowTransparency="true"></iframe>
        </section>