---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% include header-block.html %}
        <section class="post-content" style="padding: 150px 0 0 0">
          <a name="topofpage"></a>
            <div>
            <p>  
              {% for category in site.categories %}
                <b>
                  <a class="hide" onclick="showdiv('{{ category | first }}'); " href="#">
                  {{ category | first | capitalize }}
                  </a>
                </b><br />
              {% endfor %}
            </p>
            <p>
            {% for category in site.categories %}
               <div id="{{ category | first }}" style="display: none;">
               <hr />
               <p>
               <b>{{ category | first | capitalize }}</b><br />
                {% for posts in category %}
                  {% for post in posts %}
                      <a href="{{ post.url }}">{{ post.title }}</a>
                      {% if post.cuisine %} / {{ post.cuisine }}{% endif %}
                      {% if post.stars %}
                        / 
                        {% for i in (1..5) %}
                          {% if post.stars >= i %}
                            &#9733;
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                      <br />
                  {% endfor %}
                {% endfor %}
                </p>
                </div>
            {% endfor %}
            </p>
          </div>
        </section>
        </div>
      </article>
    </main>
    {% include footer.html %}
  </body>
  <script type="text/javascript">
  var _targetdiv = null;
  function showdiv(id) {
      if(_targetdiv)
          _targetdiv.style.display = 'none';
      _targetdiv = document.getElementById(id);
      _targetdiv.style.display = 'block';
  }
  </script>
</html>
