---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% include header-block.html %}
        <section class="post-content" style="padding: 150px 0 0 0">
          <a name="topofpage"></a>
          {% for category in site.categories.food %}
            {% for posts in category %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}">{{ post.title }}</a>
                  {{ post.address_map }} 
                  <a href="https://maps.google.com/maps?q={{ page.address_map | uri_escape }}">[map]</a>
                  <br/>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </section>
        </div>
      </article>
    </main>
    {% include footer.html %}
  </body>
</html>