---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% include header-parallax.html %}
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          <div>
            {{content}}
         </div>
        </section>
        <section>
          {% include comments.html %}
        </section>
        <section>	
          <div class="content-blocks cf">
            <div class="isLeft">
              {% if page.previous %}
                <h5 class="index-headline"><span>Previous Post</span></h5>
                <strong><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></strong>
                <br/>
				<a  class="tinytext" href="{{ page.next.url }}"><span class="tooltip">{{ page.previous.oneline | strip_html }}</span></a>
              {% endif %}
            </div>
            <div class="isRight">
              {% if page.next %}
                <h5 class="index-headline"><span>Next Post</span></h5>
                <strong><a href="{{ page.next.url }}">{{ page.next.title }}</a></strong>
				<br/>
				<a class="tinytext" href="{{ page.next.url }}"><span class="tooltip">{{ page.next.oneline | strip_html }}</span></a>
              {% endif %}
            </div>
          </div>
         </section>
        {{/post}}
      </article>
    </main>
	{% include footer.html %}
  </body>
</html>
